# Binaries
lightningparking
*.exe
*.exe~
*.dll
*.so
*.dylib

# DB
*.db

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Go
go.sum

# OS
.DS_Store
Thumbs.db
